/.project
/awc
/core
/db_connection.xml
/grid_A4_landscape_first.png
/grid_A4_landscape_second.png
/grid_A4_partrait_first.png
/grid_A4_partrait_second.png
/main.groovy
/main.rptdesign
/main_group.rptdesign
/manifest.xml
/PropertyCells.groovy
/PropertyExpressions.groovy
/report.log
/reports
/rpt_out_params.xml
/specification.pdf
/specification.rptdocument
/specification.xlsx
/specification_unit_1.rptdesign
/specification_unit_2.rptdesign
/tc.groovy
/tc_connection.xml
/tc_preview_table_data.txt
/tc_selection.xml
/tmpmain_group.rptdesign
/tmpspecification_unit_1.rptdesign